@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* font-family: 'Space Grotesk', sans-serif; */

@font-face {
  font-family: "SSP Regular";
  src: url("./assets/Fonts/SSP/SourceSerifPro-Regular.otf");
}

@font-face {
  font-family: "SSP Bold";
  src: url("./assets/Fonts/SSP/SourceSerifPro-Bold.otf");
}

* {
  box-sizing: border-box;
}

:root {
  font-family: "SSP Regular", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: white;
}

#root {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*--- Utility Classes ---*/

.bold {
  font-family: "SSP Bold";
}

.space {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
}

.blue-gradient {
  background: url(./assets/gradients/blue-gradient.png);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-gradient {
  background: url(./assets/gradients/pink-gradient.png);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-gradient {
  background: url(./assets/gradients/green-gradient.png);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
